@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

html,
body {
  /* for the gradient to fill the whole page */
  min-height: 100%;
  font-family: "Exo", sans-serif;
}

body {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* to make gradient extend throughout the viewport*/

  background-repeat: no-repeat;
  background-attachment: fixed;
  
}



header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  border-bottom : 1px solid #ff3e9d;
  padding:5px
}

h1{
 text-shadow: rgb(255, 62, 157) 0px 0px 24px;
  color: #00a88a
}

button {
  border: #542a71 2px solid;
  background-color: #00a88a;
  color:#542a71;
  padding: 10px;
  font-size: 20px;
  transition: 0.6s;
}

button:hover {
  background-color: #542a71;
  box-shadow: rgb(255, 62, 157) 0px 0px 6px;
  color: #00a88a;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table {
  margin: 0 auto;
  border: none;
 
}



td {
  margin: 5px;
  border: solid black 1.5px;
  border-radius: 50%;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  min-height: 20px;
  user-select: none;
}




